{{#extend "default-layout"}}

    {{#prepend "title"}}Home - {{/prepend}}

    {{#replace "main-body"}}

        <section id="home-intro">
            <div class="container">
                <div class="row">
                    <div class="home-intro-content">
                        <div class="col-md-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">

                            <h1>Community building made easy</h1>

                            <p>GoodHuddle makes it easy to setup and grow your community group online. Build a website,
                                manage your memberships and collect donations online - we take care of the techie stuff
                                so you can focus on what really matters.</p>

                            <a href="signup" class="btn btn-signup">Get started now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/#home-slider-->

        <section id="services">
            <div class="container">
                <div class="text-center wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>The tools you need to make a difference</h2>
                </div>

                <div class="padding">
                    <div class="row">
                        <div class="col-sm-4 text-center wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="single-service">
                                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                                    <i class="fa fa-desktop"></i>
                                    <!--<img src="/theme/images/home/icon1.png" alt=""/>-->
                                </div>
                                <h2>Website</h2>
                                <p>Create your own custom website using one of our pre-made themes or create your own
                                    - everything is fully customisable.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="single-service">
                                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                                    <i class="fa fa-users"></i>
                                    <!--<img src="/theme/images/home/icon2.png" alt=""/>-->
                                </div>
                                <h2>Members</h2>
                                <p>Add membership sign-up forms to your website, and keep members up to date on your latest
                                    news with email blasts.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 text-center wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                            <div class="single-service">
                                <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                                    <i class="fa fa-gift"></i>
                                    <!--<img src="/theme/images/home/icon3.png" alt=""/>-->
                                </div>
                                <h2>Donations</h2>
                                <p>Easily add donation forms to your website. Collect
                                    funds straight into your bank account with <a href="https://www.braintreepayments.com/">Braintree</a> merchant payments.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center more-features-link wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="1200ms">
                            <a href="tour">(and lots more...)</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/#services-->

        <section id="action" class="responsive">
            <div class="vertical-center">
                <div class="container">
                    <div class="row">
                        <div class="action take-tour">
                            <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                                <h1 class="title">Built for use by ordinary people</h1>
                                <p>We work hard to make our tools as friendly and easy to use as possible.</p>
                            </div>
                            <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                                <div class="tour-button">
                                    <a href="/tour" class="btn btn-common">TAKE THE TOUR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/#action-->


    {{/replace}}

{{/extend}}



