{{#extend "default-layout"}}

    {{#prepend "title"}}Home - {{/prepend}}

    {{#replace "breadcrumb-title"}}Start building your community today{{/replace}}

    {{#replace "content"}}

        <form id="signup-form" class="gap-top">

            <div id="global-error" class="error-block">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="alert alert-danger">
                                Please correct the errors below and try again
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <section class="gap-top wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="bottom">
                                <h2>Your community details</h2>
                                <div class="form-group">
                                    <input id="name" type="text" class="form-control signup-field" placeholder="Community name"
                                           data-content="Your community name is used as the title for your website and on your mail-outs."/>
                                    <p id="name-error" class="error-block">Incorrect huddle name</p>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon url-addon">www.</span>
                                        <input id="slug" type="text" class="form-control signup-field" placeholder="Huddle URL"
                                               data-content="Your URL is the web address for your site and how people find you online. To get you started we provide you with a URL at goodhuddle.com. Later you can add your own custom URL for your website if you prefer (e.g. http://yoursite.com)"/>
                                        <span class="input-group-addon url-addon">.goodhuddle.com</span>
                                    </div>
                                    <p id="huddleUrl-error" class="error-block">Incorrect huddle URL</p>
                                </div>
                                <div class="form-group">
                                    <input id="invitationCode" type="text" class="form-control signup-field" placeholder="Invitation code"
                                           data-content="GoodHuddle is still being built, to make sure everything is working we're inviting early beta testers to try it out and give us feedback. If you would like to join our beta, please contact info@goodhuddle.com"/>
                                    <p id="invitationCode-error" class="error-block">Incorrect invitation code</p>
                                </div>
                            </div>

                            <div class="gap-top">
                                <h2>Your contact details</h2>
                                <div class="form-group">
                                    <input id="adminFirstName" type="text" class="form-control signup-field"   placeholder="First name"/>
                                    <p id="adminFirstName-error" class="error-block">Invalid first name</p>
                                </div>
                                <div class="form-group">
                                    <input id="adminLastName" type="text" class="form-control signup-field"   placeholder="Last name"/>
                                    <p id="adminLastName-error" class="error-block">Invalid last name</p>
                                </div>
                                <div class="form-group">
                                    <input id="adminEmail" type="email" name="email" class="form-control signup-field"   placeholder="Email address"/>
                                    <p id="adminEmail-error" class="error-block">Incorrect email</p>
                                </div>
                            </div>

                            <div class="gap-top">
                                <h2>Your preferred login details</h2>
                                <div class="form-group">
                                    <input id="adminUsername" type="text" class="form-control signup-field"   placeholder="Username"/>
                                    <p id="adminUsername-error" class="error-block">Incorrect username</p>
                                </div>
                                <div class="form-group">
                                    <input id="adminPassword" type="password" class="form-control signup-field"   placeholder="Password"/>
                                    <p id="adminPassword-error" class="error-block">Incorrect password</p>
                                </div>
                                <div class="form-group">
                                    <input id="confirmPassword" type="password" class="form-control signup-field"   placeholder="Confirm password"/>
                                    <p id="confirmPassword-error" class="error-block">The passwords do not match</p>
                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input id="tandc" type="checkbox"/> I have read and accept the
                                            <a href="#" data-toggle="modal" data-target="#tandcModal">GoodHuddle terms and conditions</a>.
                                        </label>
                                    </div>

                                    <p id="tandc-error" class="error-block">
                                        Please accept the GoodHuddle terms and conditions
                                    </p>

                                </div>

                                <div class="form-group">
                                    <button id="sign-up-button" type="button" class="btn btn-submit">
                                        Huddle up
                                    </button>
                                </div>

                                <div id="loading-indicator" style="display:none">
                                    <img src="/resources/images/loading.gif"> Creating huddle
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </form>

        <!-- Show T&C Modal -->
        <div class="modal fade" id="tandcModal" tabindex="-1" role="dialog" aria-labelledby="tandcModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="tandcModalLabel">Terms and Conditions</h4>
                    </div>
                    <div class="modal-body">


                        <div class="block block-html">

                            <h2>About</h2>

                            <p>GoodHuddle is a web based service designed to make it easy to setup and grow your community group online; build a website, manage memberships and collect donations online. It is own by Goodhuddle Pty Ltd (ACN: 141 444 831) an Australian incorporated proprietary company, ("GoodHuddle").</p>

                            <p>Whilst Goodhuddle enables community groups control and ownership over the design, content and function of your community group website you must operate within the law and within the terms service set out below. If you find a Goodhuddle site that you believe violates our terms of service, please visit our dispute resolution &amp; reporting page.</p>

                            <p>The below Terms of Service have been adapted from Wordpress <a href="http://en.GoodHuddle.com/tos/" target="_blank">http://en.GoodHuddle.com/tos/</a> and are available under a Creative Commons Sharealike <a href="http://creativecommons.org/licenses/by­sa/3.0/" license="" target="_blank">http://creativecommons.org/licenses/by­sa/3.0/ license</a>, which means you’re more than welcome to use, and re-­purpose it for your own use, and Wordpress asks if you would link to wordpress.org somewhere on your site. If you find the amendments made to meet Goodhuddle's unique requirements useful then please also provide a link to GoodHuddle.com on your site. Please bear in mind that these Terms were adapted for Goodhuddle and you should not assume they will meet your requirements. Goodhuddle accepts no liability or responsibility whatsoever for your re­purpose of these terms of Service.</p>

                            <h2>Terms of Service</h2>

                            <p>The following terms and conditions govern all use of the GoodHuddle.com website and all content, services and products available at or through the website, including, but not limited to all Software as a Service applications, community web site content creation, management, tools, web hosting or other services available from time to time via GoodHuddle.com, (referred to in these Terms of Service as "the Website"). The Website is owned and operated by GoodHuddle. The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, GoodHuddle's Privacy Policy and procedures that may be published from time to time on the GoodHuddle.com ("the Site") by GoodHuddle (collectively, the “Agreement”).</p>

                            <p>Please read this Agreement carefully before accessing or using the Website. By clicking on "I have Read the Terms of Service" and "Accept Terms" and/or by accessing or using any part of the Website, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by GoodHuddle, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 18 years old.</p>

                            <ol>
                                <li>Your GoodHuddle.com Account and Site. If you create an online community group site on the Website, you are responsible for maintaining the security of your account and community site, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the community site. You must not describe or assign keywords to your community site in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, or infringing upon any others' trade mark (registered or at common law) company or business name and GoodHuddle may change or remove any description or keyword brought to its attention that it considers inappropriate or unlawful, or otherwise likely to cause Goodhuddle liability. You must immediately notify GoodHuddle of any unauthorised uses of your&nbsp;community site, your account or any other breaches of security. GoodHuddle will&nbsp;not be liable for any acts or omissions by You, including any damages of any kind&nbsp;incurred as a result of such acts or omissions.<br>
                                    &nbsp;</li>
                                <li>Responsibility of Contributors.<br>
                                    &nbsp;
                                    <ol>
                                        <li>If you operate a community site, comment on a community site, postmaterial to the Website, post links on the Website, or otherwise make (or allow any&nbsp;third party to make) material available by means of the Website (any such material,&nbsp;“Content”), You are entirely responsible for the content of, and any injury, harm or&nbsp;liability resulting from, that Content. That is the case regardless of whether the&nbsp;Content in question constitutes text, graphics, an audio file, or computer code or&nbsp;software. By making Content available, you represent and warrant that:&nbsp;<br>
                                            ​
                                            <ol>
                                                <li>the downloading, copying and use of the Content will not infringe the&nbsp;proprietary rights, including but not limited to the copyright, patent, design,&nbsp;circuit board layout, plant breeding, trademark or trade secret rights, of any&nbsp;third party;&nbsp;</li>
                                                <li>if your employer has rights to intellectual property you create, you have&nbsp;either (i) received permission from your employer to post or make available&nbsp;the Content, including but not limited to any software, or (ii) secured from&nbsp;your employer a waiver as to all rights in or to the Content;</li>
                                                <li>you have fully complied with any third­-party licenses relating to the Content,&nbsp;and have done all things necessary to successfully pass through to end&nbsp;users any required terms;&nbsp;</li>
                                                <li>the Content does not contain or install any viruses, worms, malware, Trojan&nbsp;horses or other harmful or destructive content;&nbsp;</li>
                                                <li>the Content is not spam, is not machine­ or randomly ­generated, and does&nbsp;not contain unethical or unwanted commercial content designed to drive&nbsp;traffic to third party sites or boost the search engine rankings of third party&nbsp;sites, or to further unlawful acts (such as phishing) or mislead recipients as&nbsp;to the source of the material (such as spoofing);&nbsp;</li>
                                                <li>the Content is not pornographic, does not contain threats or incite violence,&nbsp;and does not violate the privacy or publicity rights of any third party;&nbsp;</li>
                                                <li>your community site is not getting advertised via unwanted electronic&nbsp;messages such as spam links on newsgroups, email lists, other blogs and&nbsp;web sites, and similar unsolicited promotional methods;&nbsp;</li>
                                                <li>your community site is not presented in a manner that misleads your readers&nbsp;into thinking that you are another person or company;</li>
                                                <li>and&nbsp;you have, in the case of Content that includes computer code, accurately&nbsp;categorised and/or described the type, nature, uses and effects of the&nbsp;materials, whether requested to do so by GoodHuddle or otherwise.<br>
                                                    &nbsp;</li>
                                            </ol>
                                        </li>
                                        <li>By submitting Content to GoodHuddle for inclusion on your Website,&nbsp;you grant GoodHuddle a world­wide, royalty­free, and non­exclusive license to&nbsp;reproduce, modify, adapt and publish the Content solely for the purpose of&nbsp;displaying, distributing and promoting your community site via the Website. This&nbsp;license allows GoodHuddle to make publicly­posted content available to third&nbsp;parties selected by GoodHuddle so that these third parties (such as search&nbsp;engines and market intelligence providers) can analyse and distribute (but not&nbsp;publicly display) your content through their services.<br>
                                            &nbsp;</li>
                                        <li>You also give other GoodHuddle.com users permission to share your&nbsp;Content on other GoodHuddle.com sites and add their own Content to it (aka to&nbsp;reblog your Content), so long as they use only a portion of your post and they give&nbsp;you credit as the original author by linking back to your site.<br>
                                            &nbsp;</li>
                                        <li>If you delete Content, GoodHuddle will use reasonable efforts to&nbsp;remove it from the Website, but you acknowledge that caching or references to the&nbsp;Content may not be made immediately unavailable and may be stored elsewhere&nbsp;such as at Internet archive services .<br>
                                            &nbsp;</li>
                                        <li>Without limiting any of those representations or warranties,&nbsp;GoodHuddle has the right (though not the obligation) to, in GoodHuddle’s sole&nbsp;discretion (i) refuse or remove any content that, in GoodHuddle’s reasonable&nbsp;opinion, violates any GoodHuddle policy or is in any way harmful or objectionable,&nbsp;or violates any relevant industry code of practice,or (ii) terminate or deny access to&nbsp;and use of the Website to any individual or entity for any reason, in GoodHuddle’s&nbsp;sole discretion. GoodHuddle will have no obligation to provide a refund of any&nbsp;amounts previously paid.<br>
                                            &nbsp;</li>
                                    </ol>
                                </li>
                                <li>Payment and Renewal.<br>
                                    &nbsp;
                                    <ol>
                                        <li>General Terms.&nbsp;<br>
                                            <br>
                                            Optional paid services are available on the Website, (“Paid Services”). By selecting&nbsp;a Paid Services you agree to pay GoodHuddle the monthly or annual subscription&nbsp;or fixed term fees indicated for that service. Payments will be charged on a pre-­pay&nbsp;basis on the day you sign up for Paid Services and will cover the use of that&nbsp;service for a monthly or annual subscription or fixed period as indicated. Paid&nbsp;Services fees are not refundable.<br>
                                            &nbsp;</li>
                                        <li>Automatic Renewal.<br>
                                            <br>
                                            Unless you notify GoodHuddle before the end of the applicable subscription&nbsp;period that you want to cancel Paid Service, your Paid Services subscription&nbsp;will automatically renew and you authorise us to collect the then applicable&nbsp;annual or monthly subscription fee for such Paid Services (as well as any&nbsp;taxes) using any credit card or other payment mechanism we have on&nbsp;record for you. Paid Services can be cancelled at any time by notifying&nbsp;Goodhuddle at info@goodhuddle.com.<br>
                                            ​</li>
                                    </ol>
                                </li>
                                <li>Responsibility of Website Visitors. GoodHuddle has not reviewed, and&nbsp;cannot review, all of the material, including computer software, posted to the&nbsp;Website, and cannot therefore be responsible for that material’s content, use or&nbsp;effects. By operating the Website, GoodHuddle does not represent or imply that it&nbsp;endorses the material there posted, or that it believes such material to be accurate,&nbsp;useful or non-­harmful. You are responsible for taking precautions as necessary to&nbsp;protect yourself and your computer systems from viruses, worms, Trojan horses,&nbsp;and other harmful or destructive content. The Website may therefore, and in&nbsp;breach of these Terms of Service, from time to time contain content that is&nbsp;offensive, indecent, or otherwise objectionable, as well as content containing&nbsp;technical inaccuracies, typographical mistakes, and other errors. The Website may&nbsp;therefore, and in breach of these Terms of Service, from time to time also contain&nbsp;material that violates the privacy or publicity rights, or infringes the intellectual&nbsp;property and other proprietary rights, of third parties, or the downloading, copying&nbsp;or use of which is subject to additional terms and conditions, stated or unstated.&nbsp;GoodHuddle disclaims any responsibility the presence of such content and for any&nbsp;damages, injury, or harm resulting from the use by visitors of the Website, or from&nbsp;any downloading by those visitors of content there posted.<br>
                                    &nbsp;</li>
                                <li>Content Posted on Other Websites. We have not reviewed, and cannot&nbsp;review, all of the material, including computer software, made available through the&nbsp;websites and webpages to which GoodHuddle.com links, and that link to&nbsp;GoodHuddle.com. GoodHuddle does not have any control over those non-GoodHuddle websites and webpages, and is not responsible for their contents or&nbsp;their use. By linking to a non-­GoodHuddle website or webpage, GoodHuddle does&nbsp;not represent or imply that it endorses such website or webpage. You are&nbsp;responsible for taking precautions as necessary to protect yourself and your&nbsp;computer systems from viruses, worms, Trojan horses, and other harmful or&nbsp;destructive content. GoodHuddle disclaims any responsibility for any harm resulting&nbsp;from your use of non-­GoodHuddle websites and webpages.<br>
                                    &nbsp;</li>
                                <li>Copyright Infringement . As GoodHuddle asks others to respect its&nbsp;intellectual property rights, it respects the intellectual property rights of others. If&nbsp;you believe that material located on or linked to by GoodHuddle.com violates your&nbsp;copyright, you are encouraged to notify GoodHuddle in accordance with&nbsp;GoodHuddle's Copyright Act (Commonwealth of Australia) Safe Harbour Policy&nbsp;being that GoodHuddle will respond to all notices of any infringement of copyright,&nbsp;including as required or appropriate by removing the infringing material or disabling&nbsp;all links to the infringing material and GoodHuddle will terminate a visitor’s access&nbsp;to and use of the Website if, under appropriate circumstances, the visitor is&nbsp;determined to be a repeat infringer of the copyrights or other intellectual property&nbsp;rights of GoodHuddle or others. In the case of such termination, GoodHuddle will&nbsp;have no obligation to provide a refund of any amounts previously paid to&nbsp;GoodHuddle.<br>
                                    &nbsp;</li>
                                <li>Intellectual Property. This Agreement does not transfer from GoodHuddle&nbsp;to you any GoodHuddle or third party intellectual property, and all right, title and&nbsp;interest in and to such property will remain (as between the parties) solely with&nbsp;GoodHuddle. GoodHuddle, GoodHuddle.com, the GoodHuddle.com logo, and all&nbsp;other trademarks, service marks, graphics and logos used in connection with&nbsp;GoodHuddle.com, or the Website are trademarks or registered trademarks of&nbsp;GoodHuddle or GoodHuddle’s licensors. Other trademarks, service marks,&nbsp;graphics and logos used in connection with the Website may be the trademarks of&nbsp;other third parties. Your use of the Website grants you no right or license to&nbsp;reproduce or otherwise use any GoodHuddle or third­party trademarks.<br>
                                    &nbsp;</li>
                                <li>Domain Names. If you are registering a domain name, using or transferring&nbsp;a previously registered domain name, you acknowledge and agree that use of the&nbsp;domain name is also subject to the policies of the Internet Corporation for Assigned&nbsp;Names and Numbers (“ICANN”), including their Registration Rights and&nbsp;Responsibilities. <a href="http://www.icann.org/en/registrars/registrant­rights­responsibilities-en.htm" target="_blank">http://www.icann.org/en/registrars/registrant­rights­responsibilities-en.htm</a><br>
                                    &nbsp;</li>
                                <li>Stripe Payments API. Goodhuddle uses Stripe to enable You to set up&nbsp;secure payments to your community site. Stripe Payments is subject to Stripes’s&nbsp;Terms of Use which you’ll accept prior to setting up your Stripe Payments account&nbsp;for the first time. GoodHuddle is licensed by Stripe and you must not do anything&nbsp;that would or might place Goodhuddle in breach of its licence Terms with Stripe that&nbsp;you can read here <a href="https://stripe.com/connect/terms" target="_blank">https://stripe.com/connect/terms</a><br>
                                    &nbsp;</li>
                                <li>Mandrill Email Engine and API. Goodhuddle uses Mandrill Email Engine to&nbsp;manage mail outs with members of your community we site. By agreeing to these&nbsp;Terms and Conditions you agree not do anything that might place GoodHuddle in&nbsp;breach of Mandrill's Terms of Service as set out here here&nbsp;<a href="http://mandrill.com/terms/" target="_blank">http://mandrill.com/terms/</a> You must not breach any of the Use and Abuse&nbsp;obligations under our agreement with Mandrill.<br>
                                    &nbsp;</li>
                                <li>Changes. We are constantly updating our services, and that means sometimes&nbsp;we have to change the legal terms under which our services are offered. If we&nbsp;make changes that are material, we will let you know by posting on one of our&nbsp;blogs, or by sending you an email or other communication before the changes take&nbsp;effect. The notice will designate a reasonable period of time after which the new&nbsp;Terms will take effect. If you disagree with our changes, then you should stop using&nbsp;GoodHuddle.com within the designated notice period. Your continued use of&nbsp;GoodHuddle.com will be subject to the new Terms. However, any dispute that&nbsp;arose before the changes shall be governed by the Terms (including the binding&nbsp;individual arbitration clause) that were in place when the dispute arose.<br>
                                    &nbsp;</li>
                                <li>Termination. GoodHuddle may terminate your access to all or any part of the&nbsp;Website at any time, with or without cause, with or without notice, effective&nbsp;immediately. If you wish to terminate this Agreement or your GoodHuddle.com&nbsp;account (if you have one), you may simply discontinue using the Website. All&nbsp;provisions of this Agreement which by their nature should survive termination shall&nbsp;survive termination, including, without limitation, ownership provisions, warranty&nbsp;disclaimers, indemnity and limitations of liability.<br>
                                    &nbsp;</li>
                                <li>Disclaimer of Warranties. The Website is provided “as is”. GoodHuddle and its&nbsp;suppliers and licensors hereby disclaim all warranties of any kind, express or&nbsp;implied, including, without limitation, the warranties of merchantability, fitness for a&nbsp;particular purpose and non-­infringement. Neither GoodHuddle nor its suppliers and&nbsp;licensors, makes any warranty that the Website will be error free or that access&nbsp;thereto will be continuous or uninterrupted. You understand that you download&nbsp;from, or otherwise obtain content or services through, the Website at your own&nbsp;discretion and risk.<br>
                                    &nbsp;</li>
                                <li>Limitation of Liability. In no event will GoodHuddle, or its suppliers or licensors, be&nbsp;liable with respect to any subject matter of this agreement under any contract,&nbsp;negligence, strict liability or other legal or equitable theory for: (i) any special,&nbsp;incidental or consequential damages; (ii) the cost of procurement for substitute&nbsp;products or services; (iii) for interruption of use or loss or corruption of data; or (iv)&nbsp;for any amounts that exceed the fees paid by you to GoodHuddle under this&nbsp;agreement during the twelve (12) month period prior to the cause of action.&nbsp;GoodHuddle shall have no liability for any failure or delay due to matters beyond&nbsp;their reasonable control. The foregoing shall not apply to the extent prohibited by&nbsp;applicable law.<br>
                                    &nbsp;</li>
                                <li>General Representation and Warranty. You represent and warrant that (i) your use&nbsp;of the Website will be in strict accordance with the GoodHuddle Privacy Policy, with&nbsp;this Agreement and with all applicable laws and regulations (including without&nbsp;limitation any local laws or regulations in your country, state, city, or other&nbsp;governmental area, regarding online conduct and acceptable content, and&nbsp;including all applicable laws regarding the transmission of technical data exported&nbsp;from Australia or the country in which you reside) and (ii) your use of the Website&nbsp;will not infringe or misappropriate the intellectual property rights of any third party.<br>
                                    &nbsp;</li>
                                <li>Indemnification. You agree to indemnify and hold harmless GoodHuddle, its&nbsp;contractors, and its licensors, and their respective directors, officers, employees&nbsp;and agents from and against any and all claims and expenses, including attorneys’&nbsp;fees, arising out of your use of the Website, including but not limited to your&nbsp;violation of this Agreement.<br>
                                    &nbsp;</li>
                                <li>Translation. These Terms of Service were originally written in English. We may&nbsp;translate these Terms into other languages. In the event of a conflict between a&nbsp;translated version of these Terms of Service and the English version, the English&nbsp;version will control.<br>
                                    &nbsp;</li>
                                <li>Miscellaneous.<br>
                                    <br>
                                    This Agreement constitutes the entire agreement between&nbsp;GoodHuddle and you concerning the subject matter hereof, and they may only be&nbsp;modified by a written amendment signed by an authorised executive of&nbsp;GoodHuddle, or by the posting by GoodHuddle of a revised version. Except to the&nbsp;extent applicable law, if any, provides otherwise, this Agreement, any access to or&nbsp;use of the Website will be governed by the laws of the state of New South Wales,&nbsp;Australia excluding its conflict of law provisions, and the proper venue for any&nbsp;disputes arising out of or relating to any of the same will be the state and federal&nbsp;courts located in Sydney New South Wales Australia. Except for claims for&nbsp;injunctive or equitable relief or claims regarding intellectual property rights (which&nbsp;may be brought in any competent court without the posting of a bond), any dispute&nbsp;arising under this Agreement shall be finally settled in accordance with the&nbsp;Australian Commercial Disputes Centre as follows:<br>
                                    &nbsp;</li>
                                <li>Mediation<br>
                                    <br>
                                    (a) If a dispute arises out of or relates to this Agreement, or the breach,&nbsp;termination,validity or subject matter thereof, or as to any related claim in&nbsp;restitution or at law, in equity or pursuant to any statute, the parties to the&nbsp;agreement and the dispute expressly agree to endeavour to settle the dispute&nbsp;by mediation administered by the Australian Commercial Disputes Centre&nbsp;(ACDC) before having recourse to arbitration or litigation.<br>
                                    <br>
                                    (b) The mediation shall be conducted in accordance with the ACDC&nbsp;Guidelines forauthorised Commercial Mediation which are operating at the&nbsp;time the matter is referred to ACDC. <a href="https://www.acdcltd.com.au/adr­clauses-guidelines/guidelines" target="_blank">https://www.acdcltd.com.au/adr­clauses-guidelines/guidelines</a><br>
                                    <br>
                                    (c) The Guidelines set out the procedures to be adopted, the process of&nbsp;selection of the mediator and the costs involved.<br>
                                    <br>
                                    (d) The terms of the Guidelines are hereby deemed incorporated into this&nbsp;agreement.<br>
                                    <br>
                                    (e) This clause shall survive termination of this agreement.<br>
                                    &nbsp;</li>
                                <li>Arbitration<br>
                                    &nbsp;
                                    <ol>
                                        <li>If a dispute arises out of, or in any way in connection with, or otherwise relates&nbsp;to this agreement, or the breach, termination, validity or subject matter thereof, or as&nbsp;to any related claim at law, in equity or pursuant to any statute, the parties agree to&nbsp;refer their dispute to Arbitration administered by the Australian Commercial Disputes&nbsp;Centre (ACDC).<br>
                                            <br>
                                            (a) The Arbitration shall be conducted in [insert location of arbitration] in&nbsp;accordance with the ACDC Rules for Arbitration which are operating at the&nbsp;time the dispute is referred to ACDC and which terms are hereby deemed&nbsp;incorporated into this agreement.&nbsp;<br>
                                            <br>
                                            (b) This clause shall survive termination of this agreement.<br>
                                            &nbsp;</li>
                                        <li>The prevailing party in any action or proceeding to enforce this Agreement&nbsp;shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held&nbsp;invalid or unenforceable, that part will be construed to reflect the parties’ original&nbsp;intent, and the remaining portions will remain in full force and effect. A waiver by&nbsp;either party of any term or condition of this Agreement or any breach thereof, in&nbsp;any one instance, will not waive such term or condition or any subsequent breach&nbsp;thereof. You may not assign your rights under this Agreement to any party;&nbsp;GoodHuddle may assign its rights under this Agreement without condition. This&nbsp;Agreement will be binding upon and will inure to the benefit of the parties, their&nbsp;successors and permitted assigns.</li>
                                    </ol>
                                </li>
                            </ol>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

    {{/replace}}

    {{#append "scripts"}}
        <script type="text/javascript" src="/resources/js/signup.js"></script>
    {{/append}}

{{/extend}}



